@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* color-scheme: light dark; */
}

/* * {
@apply border-gray-200 dark:border-gray-800;
} */

* {
@apply border-gray-300;
}

body {
    @apply bg-gray-200 text-gray-600;
    overflow: hidden;
    height: 100vh;
    max-height:100vh;
    min-height: 100vh;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/*
body {
@apply bg-gray-50 text-gray-950 dark:bg-gray-900 dark:text-gray-200;
} */

th {
    font-weight: normal;
    font-size: 13px;
    text-align: left;
}

button:hover, a:hover {
    opacity: 0.8;
}


input:focus {
    @apply border-blue-500;
    @apply outline-none;
}

h2 {
    @apply dark:text-gray-900;
    @apply !border-b-gray-200 dark:!border-b-gray-600;
    border-bottom-width: 2px;
}

h3 {
    @apply dark:text-gray-900;
}